body {
  background-color: rgb(164, 164, 164);
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.todoImg {
  height: 557px;
}

.startp {
  background-color: #fff;
  width: 500px;
  height: 557px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs{
  display: flex;
  flex-direction: column;
      gap: 20px;
}

.emailInput{
    height: 30px;
    border-radius: 5px;
}

.passwordInput{
    height: 30px;
    border-radius: 5px;
}


.signupBtn {
  background-color: #76de37;
  width: 300px;
  border: none;
  height: 40px;
  border-radius: 10px;
}

.signinLink{
      color: black;
text-decoration: unset;
}